#bottom-bar {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    height: 200px; /* Passen Sie die Höhe nach Bedarf an */
    width: 85%;
    max-width: 2000px;
    min-width: 1100px;
    background-color: #c0bbbb; /* Passen Sie die Farbe nach Bedarf an */
    margin: auto;
  }

  #menu-window {
    position: absolute;
    height: 100%;
    width: 200px;
    background-color: green;
    left: 0;
  }
  #menu-tab1 {
    width: 100%;
    height: 25%;
  }
  #menu-tab2 {
    width: 100%;
    height: 25%;
  }
  #menu-tab3 {
    width: 100%;
    height: 25%;
  }
  #menu-tab4 {
    width: 100%;
    height: 25%;
  }
  #inventory-window {
    position: absolute;
    height: 100%;
    width: calc(100% - 500px);
    left: 0;
    margin-left: 200px;
    background-color: blue;
    display: block;
  }
  #inventory-top-row {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    top: 0;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
  }
  
  #inventory-bottem-row {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    background-color: purple;
    display: flex;
    flex-wrap: wrap;
  }
  
  #inventory-slot {
    left: 0;
    height: 90px;
    width: 90px;
    margin: auto;
    background-color: grey;
    border: 1 solid black;
  }
  #right-window {
    position: absolute;
    height: 100%;
    width: 300px;
    background-color: red;
    right: 0;
  }