#bottom-bar {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    height: 200px; /* Passen Sie die Höhe nach Bedarf an */
    width: 1300px;
    background-color: #c0bbbb; /* Passen Sie die Farbe nach Bedarf an */
    margin: auto;
  }

  #menu-window {
    position: absolute;
    height: 100%;
    width: 300px;
    background-color: green;
    left: 0;
  }
  #menu-tab1 {
    width: 100%;
    height: 25%;
  }
  #menu-tab2 {
    width: 100%;
    height: 25%;
  }
  #menu-tab3 {
    width: 100%;
    height: 25%;
  }
  #menu-tab4 {
    width: 100%;
    height: 25%;
  }
  #inventory-container {
    box-sizing: border-box;
    position: absolute;
    height: 200px;
    width: 700px;
    left: 0;
    margin-left: 300px;
    background-color: blue;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex; /* geändert von block zu flex, um die Slots nebeneinander anzuordnen */
    flex-wrap: wrap; /* ermöglicht das Umbruch der Slots, falls nötig */
    justify-content: flex-start;
    padding-bottom: 7px;
  }

  #inventory-container::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  #inventory-container::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  #inventory-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 0, 255, 1);
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .slot.empty, .item-schwert, .item-schild, .item-trank, .item-doubleup {
    display: flex; /* Ermöglicht die Verwendung von Flexbox */
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: flex-end; /* Zentriert den Inhalt vertikal */
    text-align: center; /* Zentriert den Text, falls nötig */
    left: 0;
    height: 90px;
    width: 90px;
    margin-left: 14px;
    margin-top: 7px;
    background-color: grey;
    border: 1px solid black;
    flex: 0 0 auto;
  }
  
  .item-schwert {
    background-image: url('source/Schwert.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: green;
  }
  
  .item-schild {
    background-image: url('source/Schild.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: green;
  }
  
  .item-trank {
    background-image: url('source/Trank.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: green;
  }

  .item-doubleup{
    background-image: url("source/doubleup.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: green;
  }
  
  

















  #right-window {
    position: absolute;
    height: 200px;
    width: 300px;
    background-color: red;
    right: 0;
  }