#bottom-bar {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  height: 200px;
  width: 1300px;
  background-color: #c0bbbb;
  margin: auto;
  z-index: 6;
}

#menu-window {
  position: absolute;
  height: 100%;
  width: 300px;
  background-color: green;
  left: 0;
}

#menu-tab1,
#menu-tab2,
#menu-tab3,
#menu-tab4 {
  width: 100%;
  height: 25%;
}

#inventory-container {
  box-sizing: border-box;
  position: absolute;
  height: 200px;
  width: 700px;
  left: 0;
  margin-left: 300px;
  background-color: blue;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-bottom: 7px;
}

#inventory-container::-webkit-scrollbar {
  background-color: transparent;
}

#inventory-container::-webkit-scrollbar-thumb {
  height: 6px;
  background-color: #f90;
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
}

#inventory-container::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

#inventory-container::-webkit-scrollbar-corner {
  background-color: transparent;
}

#mainContainer{
  margin-top: 5px;
  margin-left: 5px;
  background-color: black;
  display: flex;
  height: 180px;
  width: calc(144px + 180px);
  justify-content: space-between;
}

#profilePicContainer{
  background-color: aqua;
  width: 144px;
  height: 180px;
  background-image: url("source/EmptyEmployee1.png");
}

#infoContainer{
  background-color: bisque;
  height: 180px;
  width: 180px;
}

#priceElement{
  margin-left: 5px;
  font-size: 16px; /* Setzen Sie die gewünschte Schriftgröße */
}
#nameElement{
  margin-left: 5px;
  font-size: 12px; /* Setzen Sie die gewünschte Schriftgröße */
}
#speedElement{
  margin-left: 5px;
  font-size: 10px; /* Setzen Sie die gewünschte Schriftgröße */
}
#capacityElement{
  margin-left: 5px;
  font-size: 10px; /* Setzen Sie die gewünschte Schriftgröße */
}#lazinessElement{
  margin-left: 5px;
  font-size: 10px; /* Setzen Sie die gewünschte Schriftgröße */
}