.container {
  /* Basic dimensions and centering */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Dark mode colors and gradient */
  background: #121212; /* Fallback for browsers that don't support gradients */
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;

  /* Animation */
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

.pixel-style {
  font-family: "Press Start 2P", cursive;
  background-color: #000;
  color: #0f0;
  border: none;
  font-family: "Pixel", Arial, Helvetica, sans-serif;
}

#logintitle {
  font-family: "Press Start 2P", cursive;
  position: absolute;
  top: 150px; /* oder top: 1%; */
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #0f0;
  font-size: 70px;
  text-shadow: 0 0 5px #0f0;
}

#loginScreen {
  font-family: "Press Start 2P", cursive;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #0f0;
  font-family: "Pixel", Arial, Helvetica, sans-serif;
  text-shadow: 0 0 5px #0f0;
}

#loginStartButton {
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1;
  background-color: rgb(250, 40, 40);
  color: rgb(0, 0, 0) rbe;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  width: 150px;
  height: 50px;
  bottom: 40%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#registerButton {
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1;
  background-color: rgb(250, 114, 3);
  color: rgb(0, 0, 0) rbe;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  width: 180px;
  height: 35px;
  bottom: 34%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#loginBackButton {
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1;
  background-color: rgb(255, 77, 101);
  color: rgb(0, 0, 0) rbe;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  width: 110px;
  height: 35px;
  bottom: 28%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#nameInput {
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0) rbe;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  width: 300px;
  height: 25px;
  bottom: 55%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#passwordInput {
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0) rbe;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  width: 300px;
  height: 25px;
  bottom: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
