body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#score {
  display: flex;
  justify-content: center; /* Zentriert den Inhalt horizontal */
  align-items: center; /* Zentriert den Inhalt vertikal */
  height: 50px; /* Stellen Sie die Höhe auf den gewünschten Wert ein */

  font-size: 2em;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  height: 50px; /* Passen Sie die Höhe nach Bedarf an */
  width: 30%;
  background-color: #ff8161; /* Passen Sie die Farbe nach Bedarf an */
  margin: auto;
}
#clicker {
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(250, 40, 40);
  color: rgb(0, 0, 0) rbe;
  text-align: center;
  cursor: pointer;
  width: 350px;
  height: 350px;
  bottom: 35px;
  position: fixed;
}
#shop {
  background-color: #c0bbbb;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
  margin: 20px;
  border: 1px solid #d41d1d;
  height: 500px;
  width: 250px;
  padding: 10px;
  position: absolute;
  right: 0;
  display: block;
}

#shop-text{
  width: 100%;
  height: 50px;
  order: 1;
}


#shop-box {
  order: 2;
  flex-grow: 1;
  background-color: rgba(250, 40, 40, 0.1);
  overflow-y: scroll;
  width: 100%;
  height: 450px;
  padding: 0;
}

#shop-box::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

#shop-box::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#article1 {
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  background-color: rgb(171, 140, 4);
  border: 2px solid #000000;
  border-radius: 20px;
  height: 60px;
  width: 50%;
  line-height: 60px;
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
}

#counter1 {
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 20px;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
  width: 43.65%;
  margin-top: 20px;
  margin-left: 5px;
}

#article2 {
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  background-color: rgb(230, 173, 206);
  border: 2px solid #000000;
  border-radius: 20px;
  height: 60px;
  width: 50%;
  line-height: 60px;
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
}

#counter2 {
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 20px;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
  width: 43.65%;
  margin-top: 20px;
  margin-left: 5px;
}

#article3 {
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  background-color: rgb(247, 208, 150);
  border: 2px solid #000000;
  border-radius: 20px;
  height: 60px;
  width: 50%;
  line-height: 60px;
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
}

#counter3 {
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 20px;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
  width: 43.65%;
  margin-top: 20px;
  margin-left: 5px;
}

#article4 {
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  background-color: rgb(184, 233, 184);
  border: 2px solid #000000;
  border-radius: 20px;
  height: 60px;
  width: 50%;
  line-height: 60px;
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
}

#counter4 {
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 20px;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
  width: 43.65%;
  margin-top: 20px;
  margin-left: 5px;
}

#article5 {
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  background-color: rgb(214, 195, 248);
  border: 2px solid #000000;
  border-radius: 20px;
  height: 60px;
  width: 50%;
  line-height: 60px;
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
}

#counter5 {
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 20px;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
  width: 43.65%;
  margin-top: 20px;
  margin-left: 5px;
}

#article6 {
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  background-color: rgb(120, 195, 248);
  border: 2px solid #000000;
  border-radius: 20px;
  height: 60px;
  width: 50%;
  line-height: 60px;
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
}

#counter6 {
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 20px;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
  width: 43.65%;
  margin-top: 20px;
  margin-left: 5px;
}

#leaderboard {
  display: flex;
  justify-content: center; /* Zentriert den Inhalt horizontal */
  height: 50px; /* Stellen Sie die Höhe auf den gewünschten Wert ein */
  height: 500px;
  width: 250px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #000;
  position: absolute;
  left: 0;
}
#items {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  height: 200px; /* Passen Sie die Höhe nach Bedarf an */
  width: 85%;
  background-color: #c0bbbb; /* Passen Sie die Farbe nach Bedarf an */
  margin: auto;
}

.item {
  margin: 10px;
}
