.pixel-style {
  background-color: #000;
  color: #0f0;
  border: none;
  font-family: "Pixel", Arial, Helvetica, sans-serif;
}

#title {
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  height: 50%; /* Reduzieren Sie die Höhe, damit der Titel oben auf der Seite erscheint */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ändern Sie dies in flex-start, um den Titel oben zu zentrieren */
  align-items: center;
  color: #0f0;
  font-family: "Pixel", Arial, Helvetica, sans-serif;
  font-size: 70px; /* Erhöhen Sie die Schriftgröße, um den Titel größer zu machen */
  text-shadow: 0 0 5px #0f0;
}

#startScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #0f0;
  font-family: "Pixel", Arial, Helvetica, sans-serif;
  text-shadow: 0 0 5px #0f0;
}

#startbutton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
